title: "{{ homer_config.title }}"
subtitle: "{{ homer_config.subtitle }}"
logo: "assets/logo_hixdashboard.png"

colors:
  light:
    highlight-primary: "#3367d6"
    highlight-secondary: "#4285f4"
    highlight-hover: "#5a95f5"
    background: "#f5f5f5"
    card-background: "#ffffff"
    text: "#363636"
    text-header: "#424242"
    text-title: "#303030"
    text-subtitle: "#424242"
    card-shadow: rgba(0, 0, 0, 0.1)
    link: "#3273dc"
    link-hover: "#363636"
    background-image: "/assets/bg.jpg" # prefix with your sub subpath if any (ex: /homer/assets/...)
  dark:
    highlight-primary: "#3367d6"
    highlight-secondary: "#4285f4"
    highlight-hover: "#5a95f5"
    background: "#131313"
    card-background: "#2b2b2b"
    text: "#eaeaea"
    text-header: "#ffffff"
    text-title: "#fafafa"
    text-subtitle: "#f5f5f5"
    card-shadow: rgba(0, 0, 0, 0.4)
    link: "#3273dc"
    link-hover: "#ffdd57"
    background-image: "/assets/bg.jpg" # prefix with your sub subpath if any (ex: /homer/assets/...)

message:
  title: "DuckDuckGo Search Box"
  icon: "fa fa-search"
  content: '<iframe src="https://duckduckgo.com/search.html?prefill=Go&focus=yes&kz=1&kac=1&kn=1&kp=-2&k1=-1" style="overflow:hidden;margin:0;padding:0;width:100%;height:35px;" frameborder="0"></iframe>'
  target: "_blank"

services:

    # values below this line are optional (default value are false/empty):
    #hide_decimals: true # removes decimals from stats values.
    #hide: [] # hides information. Possible values are "vms", "vms_total", "lxcs", "lxcs_total", "disk", "mem" and "cpu".
    #small_font_on_small_screens: true # uses small font on small screens (like mobile)
    #small_font_on_desktop: true # uses small font on desktops (just in case you're showing much info)
  
  # ----------------------------------
  #         Infra Tools
  # ----------------------------------
  - name: "Infra Tools"
    icon: "fas fa-server"
    items:
      - name: "Proxmox - Node"
        icon: "fas fa-server"
        type: "Proxmox"
        url: "https://proxmox.homelab.local"
        #verify: false
        node: "{{ homer_proxmox_node_name }}"
        api_token: 'PVEAPIToken={{ homer_proxmox_user }}={{ homer_proxmox_token_secret }}'
        target: "_blank"
      - name: "Freebox Administrattion"
        icon: "fas fa-globe"
        subtitle: "Freebox"
        tag: "Infra"
        url: "https://mafreebox.freebox.fr/"
        target: "_blank"
      - name: "Traefik"
        icon: "fa fa-exchange"
        subtitle: "Mon reverse proxy"
        tag: "homelab"
        url: "https://traefik.homelab.local"
        target: "_blank"
      - name: "Portainer"
        icon: "fab fa-docker"
        subtitle: "Gestion des conteneurs Docker"
        tag: "homelab"
        url: "http://portainer.homelab.local"
        target: "_blank"
      - name: "PowerDNS"
        icon: "fas fa-network-wired"
        url: "http://powerdns.homelab.local"
        tag: "homelab"
        target: "_blank"
      - name: "Kubernetes dashboard"
        icon: "fas fa-chart-bar"
        url: "https://dashboard.homelab.local"
        tag: "homelab"
        target: "_blank"
           
  # ----------------------------------
  #         AI Tools
  # ----------------------------------
  - name: "AI Tools"
    icon: "fas fa-brain"
    items:
      - name: "GitIngest"
        icon: "fas fa-code-branch"
        subtitle: "Outil d’analyse Git"
        tag: "tools"
        url: "https://gitingest.com/"
        target: "_blank"
      - name: "ChatGPT"
        icon: "fas fa-robot"
        subtitle: "Agent conversationnel"
        tag: "chatbots"
        url: "https://chatgpt.com/"
        target: "_blank"
      - name: "Claude"
        icon: "fas fa-robot"
        subtitle: "Agent conversationnel"
        tag: "chatbots"
        url: "https://claude.ai/new"
        target: "_blank"
      - name: "Deepseek"
        icon: "fas fa-robot"
        subtitle: "Agent conversationnel"
        tag: "chatbots"
        url: "https://chat.deepseek.com"
        target: "_blank"
      - name: "Mistral"
        icon: "fas fa-robot"
        subtitle: "Agent conversationnel"
        tag: "chatbots"
        url: "https://mistral.ai/"
        target: "_blank"
      - name: "Perplexity"
        icon: "fas fa-robot"
        subtitle: "Deep Research"
        tag: "chatbots"
        url: "https://www.perplexity.ai/"
        target: "_blank"
      - name: "Janus Pro"
        icon: "fas fa-robot"
        subtitle: "Génération d'image"
        tag: "chatbots"
        url: "https://janusai.pro/fr/"
        target: "_blank"
      - name: "Chatbots LOCAL"
        icon: "fas fa-robot"
        subtitle: "Agent conversationnel"
        tag: "homelab"
        url: "http://chatbot.homelab.local"
        target: "_blank"
    
  # ----------------------------------
  #         Mes Applications
  # ----------------------------------
  - name: "Mes Applications"
    icon: "fas fa-th"
    items:
      - name: "Mon Site Perso"
        icon: "fas fa-globe"
        subtitle: "Portfolio & Blog"
        tag: "web"
        url: "https://xgueret.github.io/"
        target: "_blank"
      - name: "Mon Dépôt GitHub"
        icon: "fab fa-github"
        subtitle: "Mes projets open source"
        tag: "git"
        url: "https://github.com/xgueret"
        target: "_blank"
      - name: "Mon Dépôt GitLab"
        icon: "fab fa-gitlab"
        subtitle: "Mes projets open source"
        tag: "git"
        url: "https://gitlab.com/971xavier.gueret"
        target: "_blank"

  # ----------------------------------
  #          Tools
  # ----------------------------------
  - name: "Tools"
    icon: "fas fa-tools"
    items:
      - name: "Spotify"
        icon: "fas fa-music"
        subtitle: "Spotify"
        tag: "music"
        url: "https://open.spotify.com"
        target: "_blank"
      - name: "Excalidraw"
        icon: "fas fa-pencil-alt"
        subtitle: "Excalidraw"
        tag: "homelab"
        url: "http://excalidraw.homelab.local"
        target: "_blank"

  # ----------------------------------
  #          Documentation
  # ----------------------------------
  - name: "Documentation"
    icon: "fas fa-book"
    items:
      - name: "Wiki.js LOCAL"
        icon: "fas fa-book-open"
        subtitle: "Wiki"
        tag: "documentation"
        url: "http://wiki.homelab.local"
        target: "_blank"
      - name: "Planka LOCAL"
        icon: "fas fa-columns"
        subtitle: "Planka"
        tag: "project"
        url: "http://planka.homelab.local"
        target: "_blank"
      - name: "Ansible modules"
        icon: "fas fa-cogs"
        subtitle: "Ansible & Modules"
        tag: "documentation"
        url: "https://docs.ansible.com/ansible/2.8/modules/list_of_all_modules.html"
        target: "_blank"
      - name: "Kubernetes"
        icon: "fas fa-cubes"
        subtitle: "Kubernetes"
        tag: "documentation"
        url: "https://kubernetes.io/docs/home/"
        target: "_blank"
      - name: "Vscode linux shortcuts"
        icon: "fa fa-keyboard"
        subtitle: "Vscode"
        tag: "documentation"
        url: "https://code.visualstudio.com/shortcuts/keyboard-shortcuts-linux.pdf"
        target: "_blank"
