[Unit]
Description=PowerDNS-Admin
After=network.target

[Service]
Type=simple
User={{ powerdns_pdnsadmin_admin_user_system }}
Group={{ powerdns_pdnsadmin_admin_group_system }}
WorkingDirectory=/opt/powerdns-admin
Environment=FLASK_APP=powerdnsadmin
Environment=FLASK_ENV=production
Environment=PATH=/opt/powerdns-admin/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=PYTHONPATH=/opt/powerdns-admin
ExecStart=/opt/powerdns-admin/venv/bin/gunicorn \
--bind 0.0.0.0:9191 \
--workers 4 \
powerdnsadmin:create_app()

Restart=always
RestartSec=5

[Install]   
WantedBy=multi-user.target