services:
  {{ postgres_config.service_name }}:
    image: {{ postgres_config.image }}:{{ postgres_config.image_version }}
    container_name: shared_postgres
    restart: unless-stopped
    volumes:
      - {{ postgres_config.app_data_path }}/pgdata:/var/lib/postgresql/data
      - {{ postgres_config.app_data_path }}/init-multiple-dbs.sh:/docker-entrypoint-initdb.d/init-multiple-dbs.sh 
    environment:
      - POSTGRES_USER={{ postgres_config.postgres_user }}
      - POSTGRES_PASSWORD={{ postgres_config.postgres_password }}
      - POSTGRES_MULTIPLE_DATABASES={{ postgres_config.postgres_dbs }}
    command:
      - "/bin/bash"
      - "-c"
      - >
        docker-entrypoint.sh postgres
        -c max_connections=200
        -c shared_buffers=256MB
        -c fsync=on
        -c full_page_writes=on
        & sleep 10 && /docker-entrypoint-initdb.d/init-multiple-dbs.sh
    ports:
      - "5432:5432"
    networks:
      - traefik_default

networks:
  traefik_default:
    external: true